body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: beige;
}

h1 {
    color: navy;
}

h2 {
    color: green;
}

#div-form {
    width: 400px;
    height: 500px;
    background-color: #ffffff;
    margin: 20px auto;
    padding: 40px;
}

label{
    font-size: 20px;
    display: block;
    margin-right: 500px;
    padding: 10px 10px;
}

input{
    display: block;
    margin: 10px 10px;
    margin-top: 10px;
    width: 370px;
    height: 25px;
}

button{
    height: 60px;
    width: 100px;
    margin: 10px auto;
}

#div-dados{
    background-color: aquamarine;
}